Source: gdrush
Section: misc
Priority: extra
Maintainer: Waleed Qadi <qadiwaleed@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: https://code.launchpad.net/~qadiwaleed
#Vcs-Git: git://git.debian.org/collab-maint/alpha1.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/alpha1.git;a=summary

Package: gdrush
Architecture: any
Section: misc
Depends: ${misc:Depends},${shlibs:Depends},
Description: Drush gui
 gDrush is a drush gui application
